    <link rel="stylesheet" href="/css/comment.css">

        <h1 class="Com">Comment</h1>
        <%- include('partials/messages.ejs')%>
          <form action="/users/comment" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Write your email"
            />
          </div>
          <div class="form-group">
            <label for="comment">Your Comment</label>
            <input
              type="text"
              id="text"
              name="comment"
              class="form-control"
              placeholder="Write your comment"
            />
          </div>
          <button type="submit" class="buse">Send</button>
        </form>

        <div class="image">
            <img class="image1 n" src="images/cantons.gif" alt="" id="h1" onclick="Change1();">
            <img class="image2 n" src="images/Switzerland-village_1369729.jpg" alt="" id="h2" onclick="Change2();">
            <img class="image3 n" src="images/food.jpg" alt="" id="h3" onclick="Change3();">
          </div>
          
        <div class="admin">
            <span>Copyright &#169; 2020</span>
            <p>
              <blockquote> Discovering with me!!!
                      <cite>&mdash; C. T. N</cite>
              </blockquote>
          </p>
        </div>
 