<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
  <div class="image">
    <img class="image1 n" src="images/cantons.gif" alt="" id="h1" onclick="Change1();">
    <img class="image2 n" src="images/Switzerland-village_1369729.jpg" alt="" id="h2" onclick="Change2();">
    <img class="image3 n" src="images/food.jpg" alt="" id="h3" onclick="Change3();">
</div>

  <div class="admin">
      <span>Copyright AAAAAAAAAAAAAAAA &#169; 2020</span>
      <p>
        <blockquote> Discovering with me!!!
                <cite>&mdash; C. T. N</cite>
        </blockquote>
    </p>
  </div>
</div>

