<link rel="stylesheet" href="/css/logout.css">
  
<div class="home">
  <div class="create">
    <div class="cr">CREATE AN ACCOUNT OR REGISTER </div>
    <a href="/users/register" class="re a">Register</a>
    <a href="/users/login" class="lo a">Login</a>
  </div>

  <div class="image">
    <img class="image1 n" src="images/cantons.gif" alt="" id="h1" onclick="Change1();">
    <img class="image2 n" src="images/Switzerland-village_1369729.jpg" alt="" id="h2" onclick="Change2();">
    <img class="image3 n" src="images/food.jpg" alt="" id="h3" onclick="Change3();">
  </div>

  <div class="admin">
      <span>Copyright &#169; 2020</span>
      <p>
        <blockquote> Discovering with me!!!
                <cite>&mdash; C. T. N</cite>
        </blockquote>
    </p>
  </div>
</div>

