<link rel="stylesheet" href="/css/listcomment.css">

<h1 class="listcmt"> List Comment</h1>

<%- include('partials/messages.ejs')%>
<div class="row">
    <!-- <% for(let p of props) {%> -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="single" >
                <div class="single_inner" >
                    <div class="content text-center">
                        <div class="info">
                            <div class="title">
                                <!-- <h4><a href="#"><%= p.email%></a></h4> -->
                            </div>
                            <div class="comment">
                                <!-- <p>$<%= p.comment%></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <%
    }
    %> -->

</div>