<link rel="stylesheet" href="/css/logout.css">
</head>

<h1 class="mt-4">Switzerland's Review</h1>

<div class="menu-toggle"></div>
<nav>
    <ul>
	    <li><a href="#" class="list-group-item"><i class="fa fa-home"></i>Home</a></li>
		<li><a href="#" id="review">List Comment</a></li>
		<li><a href="/users/comment" id="comment">Comment</a></li>
		<li><a href="#" id="contact">Contact</a></li>
	</ul>
</nav>
<div class="clearfloat"></div>
        
<a href="/users/logout" class="btn btn-secondary">Logout</a>
